<div id="login" class='authentication-dialog'>
    <div class="content">
        <header>
            <h1>Login to shop</h1>
        </header>
        <form action="/login" method="post">
            <fieldset>
                <input type="text" id="username" name="username" placeholder="Enter your username" />
                <input type="password" id="password" name="password" placeholder="Enter your username" />
            </fieldset>
            <button type="submit">Log in</button>
        </form>
    </div>
    <footer>
        <a href="#register">Not a member? <em>Sign up</em></a>
    </footer>
</div>